# Learn more at https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation for Makefile and .c, header files 
[{*.c, *.h, Makefile}]
indent_style = tab
indent_size = 4

# 2 space indent for json & yml files (travis/...)
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
